**1. Respect Each Other:**
Treat all members with kindness and respect. Harassment, hate speech, personal attacks, and any form of discrimination will not be tolerated.

**2. Keep it SFW:**
Maintain a safe and clean environment. Do not share explicit, adult, or offensive content. This includes text, images, links, or discussions.

**3. Stay On Topic:**
Keep conversations relevant to the appropriate channels. Off-topic discussions should go in the designated off-topic channel.

**4. No Spamming:**
Avoid excessive posting of similar content, emojis, or repetitive messages. This includes unnecessary mentions or pings.

**5. Use Appropriate Language:**
Use language suitable for all ages. Profanity, excessive swearing, and offensive language are not allowed.

**6. Respect Privacy:**
Protect personal information. Do not share your own or others' private details. Respect the privacy and safety of all members.

**7. No Advertising Without Approval:**
Promotion of external services, products, or servers requires prior approval. Contact the admins for partnership inquiries.

**8. No Impersonation:**
Avoid impersonating other members, staff, or public figures. This includes usernames, avatars, and behavior.

**9. Follow Admins' Decisions:**
Respect the decisions made by server administrators and moderators. Failure to comply with their instructions may result in disciplinary actions.

**10. Report Violations:**
If you witness any rule violations or inappropriate behavior, report it to the moderators using the designated channel or direct message.

**11. No Staff Impersonation:**
Do not use the owner's or staff members' names for impersonation.

**12. No Script Snitching:**
Do not report or disclose the use of any scripts found in this server.

**13. No Self-Promotion:**
Avoid any form of self-advertising, including through direct messages.






                                                                                       /$$$$$$  /$$$$$$$$ /$$    /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$$$     /$$ /$$          
                                                                                      /$$__  $$| $$_____/| $$   | $$| $$_____/| $$__  $$| $$_____/    | $$| $$          
                                                                                     | $$  \__/| $$      | $$   | $$| $$      | $$  \ $$| $$          | $$| $$  /$$$$$$$
                                                                                     |  $$$$$$ | $$$$$   |  $$ / $$/| $$$$$   | $$$$$$$/| $$$$$       | $$| $$ /$$_____/
                                                                                      \____  $$| $$__/    \  $$ $$/ | $$__/   | $$__  $$| $$__/       | $$| $$| $$      
                                                                                      /$$  \ $$| $$        \  $$$/  | $$      | $$  \ $$| $$          | $$| $$| $$      
                                                                                     |  $$$$$$/| $$$$$$$$   \  $/   | $$$$$$$$| $$  | $$| $$$$$$$$ /$$| $$| $$|  $$$$$$$
                                                                                      \______/ |________/    \_/    |________/|__/  |__/|________/|__/|__/|__/ \_______/
